.setting {
    padding: 10px;
}
.setting-title {
    text-align: center;
    font-style: italic;
}

.setting-questions.selected {
    color: white;
    background-color: #845400;
}
.setting-section.unselected {
    color: #CCC;
}
.setting-section {
    padding: 30px;
}