<GridLayout columns="*" rows="auto,auto,*,auto">
    <StackLayout class="header" col="0" row="0" orientation="horizontal">
        <Label [text]="current.number"></Label>
        <!--Label [text]="current.sectionTitle"></Label-->
        <Label [text]="quizService.currentQuestionNumber"></Label>
        <Label [text]="quizService.totalQuestions"></Label>
    </StackLayout>
    <StackLayout col="0" row="1">
        <Label text="PREGUNTA"></Label>
        <Label textWrap="true" [text]="current.question"></Label>
        <Label text="RESPUESTAS"></Label>
    </StackLayout>
    <ListView col="0" row="2" [items]="current.answers">
        <ng-template let-answer="item" let-i="index">
            <Label [ngClass]="getAnswerClass(i)" textWrap="true" [text]="answer" (tap)="sendAnswer(i)"></Label>
        </ng-template>
    </ListView>
    <StackLayout col="0" row="3">
        <Button *ngIf="isQuizFinished" text="Ver resultados" [nsRouterLink]="['/results']"></Button>
        <Button *ngIf="!isQuestionAnswered" text="No contestar" (tap)="sendAnswer(-1)"></Button>
        <Button *ngIf="isQuestionAnswered && !isQuizFinished" text="Siguiente" (tap)="nextQuestion()"></Button>
    </StackLayout>
</GridLayout>