.question-info {
    color: #666;
}
.question-info .number {
    padding: 20px;
}
.question-info .count {
    padding: 20px;
    text-align: right;
}

.question-text {
    background-color: white;
    opacity: 0.8;
    border-width: 3px 0 3px 0;
    border-color:  #845400;
    padding: 20px;
    margin-top: 0;
}

.blank-wrap {
    vertical-align: middle;
    text-align: center;
    color: #666;
}

.answers Button {
    color: #333;
    text-align: left;
    margin: 0;
    text-transform: none;
    opacity: 0.8;
}
.answers Button.wrong-answer { 
    animation-name: answered-wrong;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.answers Button.right-answer { 
    animation-name: answered-right;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes answered-wrong {
    from { background-color: white; }
    to { background-color: #FF9999; }
}
@keyframes answered-right {
    from { background-color: white; }
    to { background-color: #99FF99; }
}

.bottom-actions {
    border-top-width: 3px;
    border-color: #845400;
}
.bottom-actions Button {
    padding: 60px;
}