.question-info {
    color: #666;
}

.question-info .number {
    padding: 20px;
}

.question-info .count {
    padding: 20px;
    text-align: right;
}

.question-text {
    background-color: white;
    border-width: 3px 0 3px 0;
    border-color:  #845400;
    padding: 20px;
    margin-top: 20px;
}

.question-progress, .question-number {
    color: #ccc;
}

.question-progress {
    text-align: right;
}

.no-border {
    border-width: 0px;
}

.blank-wrap {
    vertical-align: middle;
    text-align: center;
    color: #666;
}

.answers {
    vertical-align: middle;
}

.answers Label {
    border-top-width: 3px;
    border-color: #845400;
    padding: 20px;
}

.wrong-answer { 
    background-color: #FF9999; 
}
.right-answer { 
    background-color: #99FF99;
}

.bottom-actions {
    border-top-width: 3px;
    border-color: #845400;
}